.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px; /* Optional padding */
}

.navElement {
    display: flex;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}